.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(80, 80, 80);
  background-color: #313131;
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  /* padding: .15rem; */
  border-radius: 8px;
  cursor: pointer;
  height: 100px;
}

.card:hover {
  background-color: #444444;
  box-shadow:
  rgba(240, 46, 70, 0.7) 5px 5px;
}
